.w-post {
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color:#ffffff;
    h3 {
        color: #0366d6;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        padding: 10px 10px 10px 20px;
    }
    p {
        color:gray;
        padding-left:20px;
        span {
            font-weight: bolder;
        }
    }
    .w-logo-img {
        img {
            border-radius: 50%;
            width:60px;
        }
    }
    ul {
        list-style: none;
        padding: 0px;
        display: inline-flex;
    }
    .w-bg-color {
        background-color: #f5f9fc;
    }
}
.w-border {
    border-bottom:1px solid #dddddd;
}
a {
    border-bottom:2px solid #007bff;
    text-decoration: none;
}
h4 {
    font-size: 30px;
    color: #545f66;
    font-weight: lighter;
}
.main {
    width: 50%;
    margin: 20px auto 30px;
    @media (max-width:477px) {
        width:100%;
        margin-top: 20px;
    }
    @media (min-width:768px) and (max-width:968px) {
        width:80%;
        margin: 50px auto 30px;
    }
    .has-search {
        .form-control {
            padding-left: 2.375rem;
        }
          .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    }
    img {
        width: 18px;
        position: relative;
        left: -256px;
        top: 29px;
    }
    span {
        font-weight: bold;
        font-size: 16px;
    }
}

.w-adjust {
    width: 70%;
    margin: 0px auto;
    @media (max-width:477px) {
        width:100%;
    }
    @media (min-width:768px) and (max-width:968px) {
        width:80%;
        margin: 0px auto;
    }
    h2 {
        font-size: 30px;
        @media (max-width:477px){
            font-size: 20px;
        }
    }
}
.form-control {
    &:focus {
        outline:none;
        border:1px solid #dddddd;
        box-shadow: none;
    }
}
@media (max-width:477px) {
    .main {
        .form-control {
            position: relative;
            top:19px;
        }
        img {
            position: absolute;
            left: 25px;
            z-index: 1;
        }
    }
}
@media (min-width:768px) and (max-width:968px) {
  .w-ml {
      margin-left: 1px;
  }
}

#main1 {
    display: flex;
    img {
        border-radius: 50%;
        width:60px;
    }
    div {
        -ms-flex: 1;  /* IE 10 */  
        flex: 1;
      }
      div:nth-of-type(1) {
        flex-basis: 0px;
        padding-left: 26px;
      }
      div:nth-of-type(2) {
        flex-basis: 660px;
      }
  }
#main {
    display: flex;
    img {
        border-radius: 50%;
        width:60px;
    }
    div {
        -ms-flex: 1;  /* IE 10 */  
        flex: 1;
      }
      div:nth-of-type(1) {
        flex-basis: 0px;
        padding-left: 26px;
      }
      div:nth-of-type(2) {
        flex-basis: 600px;
      }
      div:nth-of-type(3) {
        flex-basis: 50px;
        @media (max-width:477px) {
            margin-right: 10px;
        }
        @media (min-width:768px) and (max-width:968px) {
            margin-right: 10px;
        }
      }
  }
   