/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#fafbfc;}

input::-webkit-input-placeholder { 
    color: gray !important;
    font-weight: normal;
    @media (max-width:477px) {
      font-size: 12px;
    }
  }
input::-moz-placeholder { 
    color: gray !important;
    font-weight: normal;
    @media (max-width:477px) {
      font-size: 12px;
    }
  }
input:-ms-input-placeholder { 
    color: gray !important;
    font-weight: normal;
    @media (max-width:477px) {
      font-size: 12px;
    }
  }
input:-moz-placeholder {
    color: gray !important;
    font-weight: normal;
    @media (max-width:477px) {
      font-size: 12px;
    }
  }