.w-post {
    border: 1px solid #ddd;
    padding: 0px 20px 20px 20px;
    border-radius: 4px;
    background-color: #ffffff;
    h3 {
        color:#0366d6;
        padding-top:15px;
        font-size:18px;
    }
    p {
        color:#9ba5ac;
        span {
            font-weight: bolder;
        }
    }
    .w-logo-img {
        img {
            border-radius: 50%;
            width:60px;
        }
    }
    ul {
        list-style: none;
        padding: 0px;
        display: inline-flex;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}
.main {
    width: 50%;
    margin: 50px auto 30px;
    @media (max-width:477px) {
        width:100%;
        margin: 0px;
    }
    @media (min-width:768px) and (max-width:968px) {
        width:80%;
        margin: 50px auto 30px;
    }
    .has-search {
        .form-control {
            padding-left: 2.375rem;
        }
          .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    }
    img {
        width: 18px;
        position: relative;
        left: -256px;
        top: 29px;
    }
    span {
        font-weight: bold;
        font-size: 16px;
    }
}

.w-adjust {
    width: 50%;
    margin: 0px auto;
    @media (max-width:477px) {
        width:100%;
    }
    @media (min-width:768px) and (max-width:968px) {
        width:80%;
        margin: 0px auto;
    }
    h2 {
        font-size: 30px;
        @media (max-width:477px){
            font-size: 20px;
        }
    }
}
.form-control {
    &:focus {
        outline:none;
        border:1px solid #dddddd;
        box-shadow: none;
    }
}
@media (max-width:477px) {
    .main {
        .form-control {
            position: relative;
            top:19px;
        }
        img {
            position: absolute;
            left: 25px;
            z-index: 1;
        }
    }
}
@media (min-width:768px) and (max-width:968px) {
  .w-ml {
      margin-left: 1px;
  }
}